html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color:#d9eafa;
  padding-bottom: 50px;
  min-height: 100vh;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%; 
}

.bg-dark,
.navbar-light {
  transition: all 1s ease
}

.logoName {
  color: white;
  font-size: 2.2rem;
  padding: 0;
}

.social a {
  color: black;
  font-size: 2rem;
  padding: 0 10px;
}

.social a:hover {
  color: #fff;
}

.login {
  margin-bottom: 3rem;
  margin-top: 1.5rem;
}

#userMenu {
  margin-top: 20vh;
}

.btn-menu {
  width: 500px;
  height: 200px;
  font-size: 2rem;
}

#MenuPedido {
  margin-top: 10px;
}

#MenuPedido, #btnPedir {
  border: 2px solid #000000;
}